.container {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
.card-map {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.div-total {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.total-price {
  color: #55C6E9;
}
.clear-all {
  text-decoration: none;
  color: red;
  border: 1px solid;
  padding: 5px;
  border-radius : 5px;
}

.clear-all:hover {
  cursor: pointer;
}